.resume-section {
  padding: 3rem 1rem;
}

.resume-introduction {
  text-align: center;
}

.resume-profile-title {
  font-family: "Playfair Dispaly", serif;
  font-size: 7.2rem;
  color: var(--mainGreen);
  margin-bottom: 3rem;
  font-weight: 300;
}

.resume-intro-text {
  font-family: "Raleway", sans-serif;
  font-size: 2.1rem;
  width: 50%;
  margin: 0 auto;
  position: relative;
}

.quote-left {
  font-size: 3rem;
  margin-right: 1rem;
  color: var(--mainGold);
}

.quote-right {
  font-size: 3rem;
  margin-left: 0.8rem;
  color: var(--mainGold);
}

.resume-image-wrapper {
  position: relative;
  margin: 4.5rem 0;
}

.resume-picture {
  border: 2px solid var(--mainGold);
  border-radius: 50%;
  z-index: 3;
}

.resume-hr {
  border: 1px solid var(--mainGold);
  position: absolute;
  top: 50%;
  z-index: 2;
  width: 100%;
}


/*-------------------------MEDIA QUERIES-----------------------*/

/* Big tablet to 1200px (width smaller than the 1140px row) */
@media only screen and (max-width: 1200px) { 

}

/* Small tablet to big tablet: from 768px (IPAD) to 1023px (landscape tablet) */
@media only screen and (max-width: 1023px) { 


}


/* Small phones to small tablets:481px to 767px*/
@media only screen and (max-width: 767px) {
  .resume-intro-text {
    width: 70%;
}

.resume-section{
      margin-top: 83.16px;
}
}



/* Small Phones: from 0 to 480 px such as Iphone 5*/
@media only screen and (max-width: 480px) {  


}
