.subtitle,
.credits {
  font-family: "Raleway", sans-serif;
}

.card {
  width: 360px;
  margin-bottom: 2rem;
  /* background: #fffaf0; */
  /* background-color: #fcf1ca; */
  /* background-color: #f4f4f4; */
  background-color: #fcfcfc;
  padding: 1rem;
  text-align: center;
}

.info {
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  height: 210px;
}

.title {
  font-size: 2.4rem;
  font-weight: bold;
  text-transform: capitalize;
  margin-bottom: 1rem;
  flex-grow: 1;
}

.credits {
  font-size: 1.5rem;
  text-transform: capitalize;
  margin-bottom: 1.5rem;
  font-weight: 100;
}

.info p {
  padding: 1rem 0 1rem 0;
}

.image {
  margin: 0 auto;
  overflow: hidden;
  width: 340px;
}

.btn-small button {
  padding: 1rem 2.5rem;
}

.blog-link {
  color: var(--mainBlack);
}

.read {
  padding: 1rem 2.3rem;

  text-decoration: underline;
  margin: 0 auto;
  background: transparent;
  outline: none;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  text-transform: uppercase;
}

/*-------------------------MEDIA QUERIES-----------------------*/

/* Big tablet to 1200px (width smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
  .card {
    width: 320px;
  }

  .image {
    width: 300px;
  }
}

/* Small tablet to big tablet: from 768px (IPAD) to 1023px (landscape tablet) */
@media only screen and (max-width: 1023px) {
  .card {
    width: 240px;
  }

  .image {
    width: 220px;
  }

  .credits {
    font-size: 1.2rem;
  }

  .info {
    height: auto;
  }
}

/* Small phones to small tablets:481px to 767px*/
@media only screen and (max-width: 767px) {
  .card {
    width: 400px;
  }

  .image {
    width: 380px;
  }
  .info {
    height: auto;
  }
}

/* Small Phones: from 0 to 480 px such as Iphone 5*/
@media only screen and (max-width: 480px) {
  .card {
    width: 300px;
  }

  .image {
    width: 280px;
  }
}
