.testimonial {
  width: 90%;
  height: 220px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  /* border: 0.5px solid var(--mainGold); */
  text-align: center;
  padding: 15px 0 5px 0;
  background-color: #fff8e0;
  font-size: 1.5rem;
  font-family: "Raleway", sans-serif;
  line-height: 2;
  position: relative;
}
.testimonial-section {
  /* padding: 60px 0; */
}

/* .testimonial-statement:before {
  content: " \201C";
  font-size: 500%;
  display: block;
  position: absolute;
  top: -28px;
  left: 38px;
  color: var(--mainGreen);
} */

.testimonial-statement {
  margin-bottom: 10px;
  flex-grow: 1;
  padding: 0 10px;
}

.testimonial-author {
  padding-bottom: 5px;
  display: inline-block;
  border-bottom: 1px solid var(--footerGreen);
}

.slick-arrow,
.slick-next,
.slick-prev {
  display: flex;
  align-items: center;
  background: #e2e2e2;
}
.slick-prev:focus,
.slick-next:focus {
  color: var(--mainGold) !important;
  outline: none;
  background: #e2e2e2 !important;
}

.slick-prev:hover,
.slick-next:hover {
  color: var(--mainGold) !important;
  outline: none;
  background: var(--mainGold) !important;
}

/*-------------------------MEDIA QUERIES-----------------------*/

/* Big tablet to 1200px (width smaller than the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/* Small tablet to big tablet: from 768px (IPAD) to 1023px (landscape tablet) */
@media only screen and (max-width: 1023px) {
}

/* Small phones to small tablets:481px to 767px*/
@media only screen and (max-width: 767px) {
  .testimonial {
    margin: 0 1.5rem;
  }
}

/* Small Phones: from 0 to 480 px such as Iphone 5*/
@media only screen and (max-width: 480px) {
  .testimonial {
    width: 90%;
    height: 150px;
    margin: 0 auto 1.5rem auto;
  }
}
